//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans", "Arial", sans-serif;

$font-size-h1: 48px;
//$font-size-h2: px;
//$font-size-h3: px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
//$font-size--x-large: px;
//$font-size--large: px;
//$font-size--larger: px;
$font-size: 16px;
//$font-size--smaller: px;
//$font-size--small: px;

$line-height: 1.2em;
//$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================
$color-main: #e1e1e1;
$text-color: #212121; // Global text color on <body>;
